<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                <div class="card-body">
                    <h1>Cadastro de Alunos!</h1>
                    <a href="admin/aluno/new" class="btn btn-primary">Novo</a>

                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">CPF</th>
                                <th scope="col">TELEFONE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (aluno of lista; track $index) {
                            <tr>
                                <td>{{aluno.id}}</td>
                                <td>{{aluno.nome}}</td>
                                <td>{{aluno.cpf}}</td>
                                <td>{{aluno.telefone}}</td>
                                <td class="alinharDireita">
                                    <a href="admin/aluno/edit/{{aluno.id}}" class="btn btn-primary">Editar</a>
                                    <button (click)="delete(aluno)" class="btn btn-danger">Deletar</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  